################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Service-Fabric-Ingress/CopilotIndices/17.14.1518.61961
/.vs/Service-Fabric-Ingress/FileContentIndex
